
#Landing_Header{
    text-align: center;
    color: black;
}

.Project_Card{
    text-align: center;
}



.summary{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

.table{
    margin: auto;
    width: 600px;
}