
#Landing_Header{
    text-align: center;
    color: black;
}

.Project_Card{
    text-align: center;
}

#profile_picture{
    right: 50%;
    height: 25%;
    width: 25%;
}

.summary{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

.table{
    margin: auto;
    width: 600px;
}